:root {
    --color-primario: #98CE00;
    --color-title: #001011;
    --align-title: left;
    --padding-container: 100px 0;
    --with-container: 90%;
    --max-width-container: 1200px;
    --color-btn: #98CE00;
    --text-btn: #757780;
    --padding-btn: 20px 35px;
    --height-shape: 18em;
}

.hero {
    /* border: 1px solid black; */
    height: 100vh;
    min-width: 500px;
    position: relative;
    --padding-container: 0;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    height: var(--height-shape);
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    clip-path: polygon(0 100%,100% 100%,100% 0);
}
.hero__container {
    /* border: 1px solid black; */
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 20px;
}

.hero__img {
    width: 95%;
}

.hero__title {
    font-size: 4rem;
}

.hero__copy {
    font-size: 1.2rem;
    margin: 25px 0;
}

.hero__cta {
    display: inline-block;
    background: var(--color-btn);
    color: #fff;
    padding: var(--padding-btn);
    text-align: center;
    text-decoration: none;
}